{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <div>
            <h1 class="titre1">Sortir.Com</h1>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Mon Profil</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_city_gestion') }}">Villes</a></li>
                        <li><a href="{{ path('app_campus_gestion') }}">Campus</a></li>
                    {% endif %}

                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div>
            <h2>Filtres les sotries</h2>
            <form action="" method="post">

                <div class="search">
                <label for="search"><strong>Campus :</strong> &nbsp;</label>
                <select type="text" name="search">
                    <option value="1">Tous les campus</option>
                    <option value="2">Campus 1</option>
                    <option value="3">Campus 2</option>
                    <option value="4">Campus 3</option>
                </select>
                </div>

                <br>
                <label for="search"><strong>Le nom de la sortie contient :</strong> &nbsp;</label>
                <input type="text" name="search" placeholder="Rechercher une sortie">

                <br>

                <div class="choice-date">
                <label for="search"><strong>Entre :</strong> &nbsp;</label>
                <input type="date" name="search" placeholder="Rechercher une sortie"> &nbsp;
                <label for="search"><strong>Et :</strong> &nbsp;</label>
                <input type="date" name="search" placeholder="Rechercher une sortie">
                </div>

                <br>

                <div class="checkbox">
                <input type="checkbox" name="search" placeholder="Sorties dont je suis l'organisateur/trice">Sorties dont je suis l'organisateur/trice<br>
                <input type="checkbox" name="search" placeholder="Sorties auquelles je suis inscrit/te">Sorties auquelles je suis inscrit/te<br>
                <input type="checkbox" name="search" placeholder="Sorties auquelles je ne suis pas inscrit/te">Sorties auquelles je ne suis pas inscrit/te<br>
                <input type="checkbox" name="search" placeholder="Sorties passées">Sorties passées<br>
                </div>

                <br>

                <input type="submit" value="Rechercher">
            </form>
        </div>
    </main>
{% endblock %}

