{% extends 'base.html.twig' %}

{% block body %}
    <div id="body">
    <div class="vide"></div>

    <h2><u>Modification de ville</u></h2>

    <div class="vide"></div>
    <div>
        {{ form_start(modifForm) }}
        {{ form_widget(modifForm) }}
        {{ form_end(modifForm) }}
    </div>
    </div>
{% endblock %}

{% block title %}
    Modification de ville
{% endblock %}

